{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <h1>Room</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ room.number }}</td>
            </tr>
            <tr>
                <th>Tariff</th>
                <td>{{ room.tariff }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ room.capacity }}</td>
            </tr>
            <tr>
                <th>IdHotel</th>
                <td>{{ room.idHotel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('room_index') }}">back to list</a>

    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
